<!DOCTYPE html>
<html lang="en">

  {% include page/head.html %}

  <body class="no-js">

    {% include components/tracking.html %}

    <div class="content-spacing section-spacing">
      <div class="container text--center">
      <div class="vpad--xxl">
        <div class="width width--md ">
          <h1 class="title title--lg">{{page.title}}</h1>
          <div class="space--xxs"></div>
          <p class="text--xxl">{{page.intro}}</p>
          <div class="space--md"></div>
          <a href="{{page.cta.link | liquify}}" class="btn btn--blue">{{page.cta.text}}</a>
        </div>
        <div class="width width--lg space--lg">
          <div class="bg-img bg-img--3-2" style="background-image: url('{{site.img}}/entered.jpg')">
          <a href="{{page.cta.link | liquify}}" class="bg-img__link"></a>
          </div>
        </div>
      </div>
      </div>
    </div>

  </body>

</html>